.img-logo-header{
    background-image: url(../img/New_logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.btn__menu{
    font-family: "RobotoThin";
    color: rgba(255, 255, 255,50%);
    font-size: 35px;
}
.menu_text__inner{
    font-family: "JostExtraLight";

}
.disable_slider{
    display: none;
}