.block_col_1_photo{
     width: 400px;
     height: 550px;
     background-color: rgba(0, 0, 0, 25%);
     background-image: url(../../img/main/block_one/logo/image_pai.png);
     background-position: center;
     background-size: 45%;
     background-repeat: no-repeat;
}

.block_col_1_btns {
}
.go_to_websit_in {
     width: 400px;
     height: 100px;
     display: flex; 
     align-items: center;
     justify-content: center;
}
.go_to_websit {
     margin-top: 20px;
     width: 400px;
     height: 80px;
     background: rgba(0, 0, 0, 0.25);
     box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
     border-radius: 50px;

     font-family: "RobotoThin";
     font-style: normal;
     font-weight: 200;
     font-size: 30px;
     line-height: 69px;
     display: flex;
     align-items: center;
     justify-content: center;
     letter-spacing: 0.1em;

     
}
.go_to_layout_in {
     width: 400px;
     height: 100px;
     display: flex; 
     align-items: center;
     justify-content: center;
}
.go_to_layout {
     margin-top: 20px;
     width: 400px;
     height: 80px;
     background: rgba(0, 0, 0, 0.25);
     box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
     border-radius: 50px;

     font-family: "RobotoThin";
     font-style: normal;
     font-weight: 200;
     font-size: 28px;
     line-height: 69px;
     display: flex;
     align-items: center;
     justify-content: center;
     letter-spacing: 0.1em;

     
}

.name-page{
     text-align: center;
     font-family: "RobotoThin";
     color: aqua;
     font-size: 70px;
     letter-spacing: 0.1em;
}

.page-description_1 {
     text-align: left;
     font-family: "RobotoThin";
     color: #fff;
     font-size: 35px;
     line-height: 58px;
     letter-spacing: 0.1em;
}
.page-description_2 {
     text-align: left;
     font-family: "RobotoThin";
     color: #fff;
     font-size: 35px;
     line-height: 58px;
     letter-spacing: 0.1em;
}
.page-description_3 {
     text-align: left;
     font-family: "RobotoThin";
     color: #fff;
     font-size: 35px;
     line-height: 58px;
     letter-spacing: 0.1em;
}
