body{
    min-height: 100vh;
}
.portfo_block_{
    height: max-content;
    flex-grow: 1;
    margin-bottom: 30px;
    /* background:#1E1E1E; */
    margin-left:10px ;
    margin-right:10px ;

}
.portfo_block_:hover{
    box-shadow: 0px 0px 30px rgba(0,255,255,50%);
}
.portfo_block_icons{
    width: 40px;
    height: 40px;
    background-image: url(../img/_icons/logo_not-framework.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.portfo_block__icons{
    width: 40px;
    height: 40px;
    background-image: url(../img/_icons/logo_bootstrap.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.portfo_block___icons{
    width: 40px;
    height: 40px;
    background-image: url(../img/_icons/logo_tailwind.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.name_portfo__block_icons{
    top: 500px;
    transition: 0.5s;
    transition-delay: 0.3s;
}
.name_portfo__block{
    font-family: "RobotoThin";
    top: 500px;
    font-size: 30px;
    transition: 0.5s;
    color: aqua;
}

.portfo_block_{
    transition-delay: 0.5s;
}
.portfo_block_1{
    background-color: rgba(0,0,0,20%);
    background-image: url(../img/main/block_one/logo/image_paymilate.png);
    background-position: center;
    background-repeat: no-repeat;
}
.portfo_block_2{
    background-color: rgba(0,0,0,20%);
    background-image: url(../img/main/block_one/logo/image_pai.png);
    background-position: center;
    background-repeat: no-repeat;
}
.portfo_block_3{
    background-color: rgba(0,0,0,20%);
    background-image: url(../img/main/block_one/image_nft.png);
    background-position: center;
    background-repeat: no-repeat;
}
.portfo_block_4{
    background-color: rgba(0,0,0,20%);
    background-image: url(../img/main/block_one/image_housevop.png);
    background-position: center;
    background-repeat: no-repeat;

}
.portfo_block_5{
    background-color: rgba(0, 0, 0, 20%);
    background-image: url(../img/main/block_one/image_womazing.png);
    background-position: center;
    background-repeat: no-repeat;
    
}
.portfo_block_6{
    background-color: rgba(0, 0, 0, 20%);
    background-image: url(../img/main/block_one/image_triumf.png);
    background-position: center;
    background-repeat: no-repeat;
}
.text-filter{
    font-family: "RobotoThin";
}


